[submodule "nvim"]
	path = nvim
	url = git@github.com:mutkach/nvim_config.git
[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
